[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
feedparser = "*"
PySimpleGUI = "*"
PyYAML = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest -v"